@{
    
}
<div class="card-container">
    <div class="card">
        <h3>Ноутбуки</h3>
        <p>Ноутбуки для работы</p>
        <a asp-action="notebook" class="btn details-btn">подробнее</a>

        
    </div>

    <div class="card">
        <h3>Коврики</h3>
        <p>Коврики для мышек</p>
        <a asp-action="covrik" class="btn details-btn">подробнее</a>
        
    </div>

    <div class="card">
        <h3>Аксессуары</h3>
        <p>На каждый случай жизни</p>
        <button class="btn">подробнее</button>
        
    </div>
</div>
