@model IEnumerable<Osipan.Models.Catalog>

@{
    ViewData["Title"] = "Ноутбуки";

    var filteredModel = Model.Where(i => i.CategoryId == 2);
}

<div class="workstations-container">
    @foreach (var i in filteredModel)
     {
        <div class="workstation-card">
             
             <h3>@i.Names</h3>
             <p class="price">Цена @i.Price.ToString("N0") ₽</p>
             <p>@i.Descriptions</p>            
            <a asp-action="Details" asp-route-id="@i.IdCatalog" class="btn details-btn">ПОДРОБНЕЕ</a>
         </div>
     }
</div>